<!DOCTYPE html>
<html>
<head>
    <title>게시글 목록 ({{ site_name }} - {{ category_name }})</title>
</head>
<body>
    <header>
        <h1>게시글 목록 ({{ site_name }} - {{ category_name }})</h1>
    </header>
    <main>
        <ul>
            {% for post in posts %}
                <li>
                    <p>
                        <strong>대륙:</strong> {{ post.continent }}<br>
                        <strong>나라:</strong> {{ post.country }}<br>
                        <strong>제목:</strong> <a href="{% url 'post_detail' site_name=site_name category_name=category_name id=post.id %}">{{ post.title }}</a><br>
                        <strong>작성자:</strong> {{ post.author }}<br>
                        <strong>생성일:</strong> {{ post.created_at }}<br>
                        <strong>수정일:</strong> {{ post.updated_at }}<br>
                        <strong>내용 미리보기:</strong> {{ post.content|truncatewords:30 }}<br>
                    </p>
                </li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>
